/* In App.css or index.css */
body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  margin: 0; /* Reset default margins */
  padding: 0; /* Reset default padding */
  box-sizing: border-box; /* Box model adjustment */
  /* Optional for consistent behavior across browsers */
  scrollbar-width: none;  /* For Firefox */
}

/* Optional: Set a default font size */
html {
  font-size: 16px; /* Base font size */
}

body::-webkit-scrollbar {
  display: none;  /* For Chrome, Safari, and other WebKit browsers */
}

.root{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

button {
  margin-top: 2rem;
  padding: 1.2rem; /* Adjusted padding for consistency */
  border-radius: 12px; /* Consistent border radius */
  border: none;
  background-color: #007bff; /* Primary button color */
  color: white; /* Text color for button */
  cursor: pointer; /* Pointer cursor for button */
  transition: background-color 0.3s; /* Smooth background transition */
}

button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}