.site-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between header items */
  height: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  position: relative;
}

.site-header-container * {
  margin: 0;
}

.site-header-container > div:first-child {
	position: absolute; /* Position title absolutely */
	left: 50%; /* Center horizontally */
	transform: translateX(-50%); /* Adjust for centering */
	
}

.site-header-container > div:first-child > h1{
	flex: 1; /* Allow header to take available space */
	text-align: center; /* Center text */
	font-size: 4rem;

}

.site-header-container > div:last-child {
  margin-left: auto; /* Push to the right */
  margin-right: 5rem; /* Maintain right margin */
  cursor: pointer; /* Change cursor on hover */
}

